{% extends 'index.html' %}

{% block title %}Sensors{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-md-4"> <!--justify-content-start align-items-start-->

            <h3 class="h3 py-sm-1" style="color: #F9AA33">BME 280</h3>
            <div class="list-group">
                <a href="#" id="data_temp"
                   class="list-group-item list-group-item-action list-group-item-primary">
                    Temperature: {{ db_data[2][0] }} °C</a>
                <a href="#" id="data_hum"
                   class="list-group-item list-group-item-action list-group-item-secondary">
                    Humidity: {{ db_data[3][0] }} %</a>
                <a href="#" id="data_pres"
                   class="list-group-item list-group-item-action list-group-item-warning">
                    Pressure: {{ db_data[4][0] }} hPa</a>
                <!--<a href="#"
                   class="list-group-item list-group-item-action list-group-item-info">
                    Altitude: {{ db_data[5][0] }} m</a>-->
            </div>

            {% if db_data[7] %}
                <h3 class="h3 py-sm-1" style="color: #F9AA33">Home IoT</h3>
                <div class="list-group">
                    {% for i in db_data[7] %}
                        <a href="#" id="{{ i }}" class="list-group-item list-group-item-action list-group-item-success">
                            {{ i }}</a>
                    {% endfor %}
                </div>
            {% endif %}

            <h3 class="h3 py-sm-1" style="color: #F9AA33">RPi</h3>
            <div class="list-group">
                <a href="#" class="list-group-item list-group-item-action list-group-item-success">
                    temperature: {{ db_data[6] }} °C</a>
            </div>

            <h3 class="h3 py-sm-1" style="color: #F9AA33">TBD</h3>
            <div class="list-group">
                <a href="{{ url_for('smart_home.create') }}"
                   class="list-group-item list-group-item-action list-group-item-danger">
                    Add new
                </a>
            </div>

        </div>

        <div class="col-md-8">
            <section class="content rounded py-sm-1" style="background-color: #344955">
                {% include "smart_home/chart_bme280.html" %}
            </section>
        </div>
    </div>
{% endblock %}
