psycopg2-binary
psycopg2
Django
djangorestframework
django-crispy-forms
drf-extensions
django-extensions
celery
django-celery-beat
adafruit-circuitpython-bme280
gpiozero
ipython
gunicorn

# pip install -U git+git://github.com/chibisov/drf-extensions.git@8001a440c7322be26bbe2d16f3a334a8b0b5860b