pip-tools

psycopg2-binary
psycopg2

Django
djangorestframework
django-crispy-forms
drf-extensions
django-extensions
django-celery-beat
djangorestframework-simplejwt

celery

adafruit-circuitpython-bme280
gpiozero
bleak

gunicorn

ipython
requests

# pip install -U django-debug-toolbar