{% extends 'main_template.html' %}

{% load static %}
{% load rest_framework %}

{% block title %}Barometer{% endblock %}

{% block content %}

    {% for datum in results %}
        <p class="text_light">
            temperature_c: {{ datum.temperature_c }}
            humidity: {{ datum.humidity }}
            pressure_hpa: {{ datum.pressure_hpa }}
            device.title: {{ datum.device.title }}
            time_created: {{ datum.time_created }}
        </p>
    {% endfor %}

{% endblock content %}