{% extends 'main_template.html' %}

{% load static %}
{% load rest_framework %}

{% block title %}Barometer{% endblock %}

{% block content %}

    <div class="m-2 barometer_chart"
         id='BarometerCharts'>
    </div>

    <script>
        const token = '{{csrf_token}}';
        $(document).ready(function () {
            const trace_1 = {
                x: {{ time_created | safe }},
                y: {{ temperature_c | safe }},
                type: 'scatter',
                mode: "lines",
                name: '&#8451;, temperature',
                line: {color: '#561eb4'},
            };

            const trace_2 = {
                x: {{ time_created | safe }},
                y: {{ humidity | safe }},
                type: 'scatter',
                mode: "lines",
                name: '&#37;, humidity',
                line: {color: '#287ddc'},
            };

            const trace_3 = {
                x: {{ time_created | safe }},
                y: {{ pressure_hpa | safe }},
                type: 'scatter',    // scatter == SVG, scattergl == WebGL (but without range slider!)
                mode: "lines",
                name: 'hPa, pressure',
                line: {color: '#15870c'},
                yaxis: 'y2',
            };

            const data = [trace_1, trace_2, trace_3];

            const layout = {
                autosize: true,
                height: window.innerHeight * 0.8,
                plot_bgcolor: "#2C2C2C",
                paper_bgcolor: "#2C2C2C",
                font: {
                    {#family: 'Courier New, monospace',#}
                    size: 14,
                    color: 'lightgrey',
                },
                title: 'inside home data',
                xaxis: {
                    autorange: false,
                    range: {{ xaxis_range | safe }},
                    rangeselector: {
                        bgColor: "orange",
                        font: {
                            color: '#2C2C2C',
                        },
                        buttons: [
                            {
                                count: 6,
                                label: '6h',
                                step: 'hour',
                                stepmode: 'backward'
                            },
                            {
                                count: 1,
                                label: '1d',
                                step: 'day',
                                stepmode: 'backward'
                            },
                            {
                                count: 7,
                                label: '7d',
                                step: 'day',
                                stepmode: 'backward'
                            },
                            {step: 'all'}
                        ]
                    },
                    rangeslider: {
                        range: {{ xaxis_range | safe }},
                        visible: true,
                    },
                    type: 'date',
                },
                yaxis: {
                    autorange: true,
                    type: 'linear',
                    title: '&#8451; (temperature) or &#37; (humidity)',
                },
                yaxis2: {
                    title: 'hPa, pressure',
                    {#titlefont: {color: '#15870c'},#}
                    {#tickfont: {color: '#15870c'},#}
                    overlaying: 'y',
                    side: 'right'
                },
            };

            var config = {
                responsive: true,
                scrollZoom: true,
            }

            Plotly.newPlot('BarometerCharts', data, layout, config);

        });
    </script>

{% endblock content %}