{% extends 'main_template.html' %}

{% load static %}
{% load rest_framework %}

{% block title %}Barometer{% endblock %}

{% block content %}

    <div class="m-2 barometer_chart"
         id='BarometerCharts'>
        <!-- Plotly chart will be drawn inside this DIV -->
    </div>

    <script>
        const token = '{{csrf_token}}';
        $(document).ready(function () {
            const trace_1 = {
                x: {{ time_created | safe }},
                y: {{ temperature_c | safe }},
                type: 'scatter',
                mode: "lines",
                name: '&#8451;, temperature',
                line: {color: '#561eb4'},
            };

            const trace_2 = {
                x: {{ time_created | safe }},
                y: {{ humidity | safe }},
                type: 'scatter',
                mode: "lines",
                name: '&#37;, humidity',
                line: {color: '#287ddc'},
            };

            const data = [trace_1, trace_2];

            const layout = {
                autosize: true,
                height: window.innerHeight * 0.8,
                plot_bgcolor: "#2C2C2C",
                paper_bgcolor: "#2C2C2C",
                font: {
                    {#family: 'Courier New, monospace',#}
                    size: 14,
                    color: 'lightgrey',
                },
                title: 'inside home data',
                xaxis: {
                    autorange: true,
                    range: {{ xaxis_range | safe }},
                    rangeselector: {
                        bgColor: "orange",
                        font: {
                            color: '#2C2C2C',
                        },
                        buttons: [
                            {
                                count: 6,
                                label: '6h',
                                step: 'hour',
                                stepmode: 'backward'
                            },
                            {
                                count: 1,
                                label: '1d',
                                step: 'day',
                                stepmode: 'backward'
                            },
                            {
                                count: 7,
                                label: '7d',
                                step: 'day',
                                stepmode: 'backward'
                            },
                            {step: 'all'}
                        ]
                    },
                    rangeslider: {
                        range: {{ xaxis_range | safe }},
                    },
                    type: 'date'
                },
                yaxis: {
                    autorange: true,
                    type: 'linear'
                }
            };

            var config = {
                responsive: true,
                scrollZoom: true,
            }

            Plotly.newPlot('BarometerCharts', data, layout, config);

        });
    </script>

{% endblock content %}