{% extends 'index.html' %}

{% block title %}Social{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-md-4"> <!--justify-content-start align-items-start-->

            <h3 class="h3 py-sm-1" style="color: #F9AA33">Social Networks</h3>

            <div class="list-group">

                <a href="#" class="list-group-item list-group-item-action list-group-item-primary"
                   id="twitter">
                    Twitter
                </a>
                <a href="#" class="list-group-item list-group-item-action list-group-item-primary"
                   id="instagram">
                    Instagram
                </a>

                <a href="#" class="list-group-item list-group-item-action list-group-item-danger">
                    +</a>
            </div>

        </div>

        <div class="col-md-8">
            <h3 class="h3 ml-sm-2" style="color: #F9AA33">Your Feed</h3>
            <ul class="list-group">

                {% if data %}
                    {% cache 60 * 5 %}

                        {% include "social/twitter.html" %}

                    {% endcache %}
                {% else %}
                    <h4 class="rounded pl-sm-1" style="color: crimson">Connection Error</h4>
                {% endif %}
            </ul>
        </div>
    </div>

    <script type="text/javascript">

    </script>


{% endblock %}