{% extends 'main_page/main_template.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}
    Sensors
{% endblock %}

{% block content %}
    {% load static %}

    <h3>Sensors</h3>

    <hr>
    <form method="post">
        {% csrf_token %}
        {{ new_sensor_form | crispy }}
        <button type="submit">Save</button>
    </form>
    <hr>

    {% for sensor in all_sensors %}
        <h4>sensor name: {{ sensor.name }}</h4>
        <p>i2c address: {{ sensor.i2c_address | default:'-' }};
            ip address: {{ sensor.ip_address | default:'-' }}</p>
        {% with sensor.sensordata_set.first as sensor_data %}
            <p>temperature: {{ sensor_data.temperature | default:'-' }}</p>
            <p>humidity: {{ sensor_data.humidity | default:'-' }}</p>
            <p>pressure: {{ sensor_data.pressure | default:'-' }}</p>
        {% endwith %}
    {% endfor %}


{% endblock %}