{% extends 'main_template.html' %}

{% load static %}
{% load rest_framework %}

{% block title %}Main Page{% endblock %}

{% block content %}

    <div class="row">
        <div class="col">

            <div class="card-deck mb-4">

                <div class="card btn-outline-warning bg_dark text_light">
                    <a href="{% url 'barometers-list' %}">
                        <div class="card-body">
                            <h5 class="card-title">Barometer</h5>
                            <p class="card-text">
                                <i class="fas fa-temperature-high"></i>
                                {{ barometer_data.temperature_c }} &#8451;
                            </p>
                            <p class="card-text">
                                {{ barometer_data.humidity }} &#37;
                            </p>
                            <p class="card-text">
                                {{ barometer_data.pressure_hpa }} hPa
                            </p>
                            <p class="card-text">
                                at {{ barometer_data.time_created }}
                            </p>
                        </div>
                    </a>
                </div>

                <div class="card btn-outline-warning bg_dark text_light">
                    <a href="{% url 'forecasts' %}">
                        <div class="card-body">
                            <h5 class="card-title">Forecast</h5>
                            <p class="card-text">
                                temp: {{ forecast.temp }} ({{ forecast.temp_min }} - {{ forecast.temp_max }}) &#8451;
                            </p>
                            <p class="card-text">
                                feels_like: {{ forecast.feels_like }} &#8451;
                            </p>
                            <p class="card-text">
                                humidity: {{ forecast.humidity }} &#37;
                            </p>
                            <p class="card-text">
                                pressure: {{ forecast.pressure }} hPa
                            </p>
                        </div>
                    </a>
                </div>

                <div class="card btn-outline-warning bg_dark text_light">
                    <a href="#">
                        <img class="card-img"
                             src="{% static 'img/spaceX.jpeg' %}"
                             alt="Card image">
                        <div class="card-img-overlay">
                            <h5 class="card-title">Some text</h5>
                            <p class="card-text">Some text</p>
                        </div>
                    </a>
                </div>

            </div>
            <div class="card-deck">

                <a href="#"
                   class="card btn-outline-warning bg_dark">
                    <img class="card-img"
                         src="{% static 'img/spaceX.jpeg' %}"
                         alt="Card image">
                    <div class="card-img-overlay text_dark">
                        <h5 class="card-title">Some text</h5>
                        <!--<p class="card-text"></p>-->
                    </div>
                </a>

                <a href="#"
                   class="card btn-outline-warning bg_dark">
                    <img class="card-img"
                         src="{% static 'img/spaceX.jpeg' %}"
                         alt="Card image">
                    <div class="card-img-overlay text_dark">
                        <h5 class="card-title">Some text</h5>
                        <!--<p class="card-text"></p>-->
                    </div>
                </a>

                <a href="#"
                   class="card btn-outline-warning justify-content-center bg_dark">
                    <h3 class="card-title text-white align-self-center">+</h3>
                </a>

            </div>
        </div>
    </div>
{% endblock %}
