{% extends 'main_template.html' %}

{% load static %}
{% load rest_framework %}

{% block title %}Main Page{% endblock %}

{% block content %}

    <div class="row">
        <div class="col">

            <div class="card-deck mb-4">

                <div class="card btn-outline-warning bg_dark text_light">
                    <a href="{% url 'barometers-list' %}">
                        <div class="card-body">
                            <h5 class="card-title">Barometer</h5>
                            <hr>
                            <p class="card-text">
                                <i class="fas fa-temperature-high"></i>
                                {{ barometer_data.temperature_c }} &#8451;
                            </p>
                            <p class="card-text">
                                {{ barometer_data.humidity }} &#37;
                            </p>
                            <p class="card-text">
                                {{ barometer_data.pressure_hpa }} hPa
                            </p>
                            <p class="card-text">
                                last update: {{ barometer_data.time_created }}
                            </p>
                        </div>
                    </a>
                </div>

                <div class="card btn-outline-warning bg_dark text_light">
                    <a href="{% url 'forecasts' %}">
                        <div class="card-body">
                            <h5 class="card-title">Forecast</h5>
                            <hr>
                            <p class="card-text">
                                now: {{ weather_data.temp }} &#8451; (max: {{ weather_data.temp_max }},
                                min: {{ weather_data.temp_min }} at this location)
                            </p>
                            <p class="card-text">
                                feels like: {{ weather_data.feels_like }} &#8451;
                            </p>
                            <p class="card-text">
                                humidity: {{ weather_data.humidity }} &#37;
                            </p>
                            <p class="card-text">
                                pressure: {{ weather_data.pressure }} hPa
                            </p>
                        </div>
                    </a>
                </div>

                <div class="card btn-outline-warning bg_dark text_light">
                    <a href="{% url 'rgb_controls' %}">
                        <div class="card-body">
                            <h5 class="card-title">RGB Led strip</h5>
                            <hr>
                            <p class="card-text">
                                {% if rgb_device.is_alive %}
                                    <i class="far fa-check-circle"></i>
                                    alive
                                {% else %}
                                    <i class="far fa-times-circle"></i>
                                    not alive
                                {% endif %}
                            </p>
                            <p class="card-text">
                                last update: {{ rgb_device.last_update|default:'-' }}
                            </p>
                        </div>
                    </a>
                </div>

            </div>
            <div class="card-deck mb-4">

                <div class="card btn-outline-warning bg_dark text_light">
                    <a href="#">
                        <div class="card-body">
                            <h5 class="card-title">Alarm</h5>
                            <hr>
                            <p class="card-text">Some text</p>
                        </div>
                    </a>
                </div>

                <div class="card btn-outline-warning bg_dark text_light">
                    <a href="#">
                        <div class="card-body">
                            <h5 class="card-title">Some title</h5>
                            <hr>
                            <p class="card-text">Some text</p>
                        </div>
                    </a>
                </div>

                <div class="card btn-outline-warning bg_dark text_light">
                    <a href="#">
                        <div class="card-body">
                            <h5 class="card-title">Some title</h5>
                            <hr>
                            <p class="card-text">Some text</p>
                        </div>
                    </a>
                </div>

            </div>
        </div>
    </div>

    <script>get_common_choices("{% url 'common_choices' %}")</script>
{% endblock %}
