{% extends 'main_template.html' %}

{% load static %}
{% load rest_framework %}

{% block title %}Forecast{% endblock %}

{% block content %}

    <div class="text_light">
        {% if coord %}
            <p>coord: lon={{ coord.lon }}, lat={{ coord.lat }}</p>
        {% endif %}

        {% for i in weather %}
            <p>weather: {{ i.main }}, {{ i.description }}</p>
        {% endfor %}

        {% if main %}
            <p>main: {{ main.temp }}, feels_like: {{ main.feels_like }}, humidity: {{ main.humidity }}</p>
        {% endif %}

        {% if wind %}
            <p>wind speed: {{ wind.speed }}, wind deg: {{ wind.deg }}</p>
        {% endif %}

        {% if clouds %}
            <p>clouds: {{ clouds.all }}</p>
        {% endif %}

        {% if name and sys %}
            <p>{{ name }}, {{ sys.country }}</p>
            <p>{{ sys.sunrise }}, {{ sys.sunset }}</p>
        {% endif %}
    </div>

{% endblock content %}