<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"></script>
    <script src="../static/js/utils.js"></script>

    <title>{% block title %}{% endblock %} - FlaskTestRPi</title>
</head>
<body style="background-color: #232F34; font-size: large">

<div>
    <nav class="nav fixed-top" style="background-color: #344955">
        <a class="nav-link text-white" href="/">Main page</a>
        <a class="nav-link text-white" href="/smart_home">Smart Home</a>
        <a class="nav-link text-white" href="/weather">Weather</a>
        <a class="nav-link disabled" href="#">Test 3</a>
        <a class="nav-link text-white" href="/social">Social</a>
        <a class="nav-link disabled" href="#">Test 5</a>
        <a class="nav-link disabled" href="#">About</a>
    </nav>
</div>

<div class="p-sm-2 pt-sm-5">
    <section class="content">
        {% block content %}{% endblock %}
    </section>
</div>

</body>
</html>