{% extends 'index.html' %}

{% block title %}Main Page{% endblock %}

{% block content %}

    <div class="row">
        <div class="col">

            <div class="card-deck">

                <a href="/sensors" class="card mb-3 btn-outline-warning" style="background-color: #344955">
                    <img class="card-img" src="../static/img/home_iot.jpg" alt="Card image">
                    <div class="card-img-overlay" style="color: #232F34">
                        <h5 class="card-title">Smart Home</h5>
                        <!--<p class="card-text">
                            </p>-->
                    </div>
                </a>

                <a href="/weather" class="card mb-3 btn-outline-warning" style="background-color: #344955">
                    <img class="card-img" src="../static/img/weather_forecast.png" alt="Card image">
                    <div class="card-img-overlay" style="color: #232F34">
                        <h5 class="card-title">Weather</h5>
                        <!--<p class="card-text">
                            </p>-->
                    </div>
                </a>

                <a href="#" class="card mb-3 btn-outline-warning" style="background-color: #344955">
                    <img class="card-img" src="../static/img/spaceX.jpeg" alt="Card image">
                    <div class="card-img-overlay" style="color: #232F34">
                        <h5 class="card-title">Test 3</h5>
                        <!--<p class="card-text">
                            </p>-->
                    </div>
                </a>

            </div>
            <div class="card-deck">

                <a href="#" class="card mb-3 btn-outline-warning" style="background-color: #344955">
                    <img class="card-img" src="../static/img/social_net.jpg" alt="Card image">
                    <div class="card-img-overlay" style="color: #232F34">
                        <h5 class="card-title">Social</h5>
                        <!--<p class="card-text">
                            </p>-->
                    </div>
                </a>

                <a href="#" class="card mb-3 btn-outline-warning" style="background-color: #344955">
                    <img class="card-img" src="../static/img/spaceX.jpeg" alt="Card image">
                    <div class="card-img-overlay" style="color: #232F34">
                        <h5 class="card-title">Test 5</h5>
                        <!--<p class="card-text">
                            </p>-->
                    </div>
                </a>

                <a href="#" class="card mb-3 btn-outline-warning justify-content-center"
                   style="background-color: #344955">
                    <h3 class="card-title text-white align-self-center">+</h3>
                </a>

            </div>
        </div>
    </div>
{% endblock %}
