{% extends 'main_page/main_template.html' %}
{% load static %}

{% block title %}
    Forecast
{% endblock %}

{% block content %}
    {% load static %}

    <p>main: {{ forecast.weather.0.main }}</p>
    <p>description: {{ forecast.weather.0.description }}</p>
    <img src="{% static  'forecast/img/owm_icons/' %}{{ forecast.weather.0.icon }}.png" alt="icon">
    <p>temp: {{ forecast.main.temp }}</p>
    <p>feels_like: {{ forecast.main.feels_like }}</p>
    <p>temp_min: {{ forecast.main.temp_min }}</p>
    <p>temp_max: {{ forecast.main.temp_max }}</p>
    <p>pressure: {{ forecast.main.pressure }}</p>
    <p>humidity: {{ forecast.main.humidity }}</p>
    <p>speed: {{ forecast.wind.speed }}</p>
    <p>deg: {{ forecast.wind.deg|default:'-' }}</p>

    {% with forecast.wind.deg as wind_deg %}
        {% if wind_deg %}
        <p class="m-sm-1">
            {{ wind_deg }}°
            <img src="{% static 'forecast/img/arrow_white_24dp.png' %}" alt="arrow"
                 style="transform: rotate({{ wind_deg }}deg)">
        </p>
        {% else %}
            <p>-</p>
        {% endif %}
    {% endwith %}

    <p>gust: {{ forecast.wind.gust|default:'-' }}</p>
    <p>clouds: {{ forecast.clouds.all }}</p>

{% endblock %}