{% extends 'index.html' %}

{% block title %}Sensors{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-md-4">
            <h3 class="h3 py-sm-1" style="color: #F9AA33">Weather in Minsk, BY</h3>

            <form method="post">
                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="Enter your city"
                           aria-label="Enter your city" aria-describedby="button-addon2" id="city"
                           value="{{ request.form['city'] }}" name="city">
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary" type="submit" id="button-addon2">Search</button>
                    </div>
                </div>
            </form>

            <div class="list-group-item text-white rounded" style="background-color: #344955">
                <p style="font-size:200%;">{{ owm_db_data[4] }} °C
                    <img src="../static/img/owm_icons/{{ owm_db_data[3] }}.png" alt="weather_icon"></p>
                {{ owm_db_data[2].title() }}
                <br>
                {{ owm_db_data[12].strftime('%c') }}
            </div>
            <br>
            <div class="row text-white rounded m-sm-0" style="background-color: #344955">
                <div class="col my-sm-2">Pressure</div>
                <div class="col my-sm-2">
                    {{ owm_db_data[5] }} hPa
                    <br>
                    ({{ owm_db_data[5] * 0.75 }} mmHg)
                </div>
                <div class="w-100"></div>
                <div class="col my-sm-2">Humidity</div>
                <div class="col my-sm-2">{{ owm_db_data[6] }} %</div>
                <div class="w-100"></div>
                <div class="col my-sm-2">Temp. min/max</div>
                <div class="col my-sm-2">{{ owm_db_data[7] }} / {{ owm_db_data[8] }} °C</div>
                <div class="w-100"></div>
                <div class="col my-sm-2">
                    Wind speed
                    <br>
                    gust
                </div>
                <div class="col my-sm-2">
                    {{ owm_db_data[9] }} m/s ({{ owm_db_data[10] }} °)
                    <br>
                    {{ owm_db_data[11] }} m/s
                </div>
            </div>


        </div>

        <div class="col-md-8">
            <h3 class="h3 py-sm-1" style="color: #F9AA33">
                Current weather and forecasts in your city</h3>
            <div class="rounded py-sm-1 text-white" style="background-color: #344955">
                TBD
            </div>
        </div>

    </div>
{% endblock %}